@import url('https://fonts.googleapis.com/css?family=Montserrat|Montserrat+Alternates|Poppins&display=swap');
 *{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: 'Montserrat Alternates', sans-serif;
      text-decoration: none;
    list-style: none;


   }



body{
        background-color: #ffffff;
   
     background-image:url('Background.jpg');
      margin:0px;
     

     
   }


/*************************************/
   
   /*Estilos para el encabezado*/
  
  nav {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #D32F2F ;
    padding-left: 2vw;
    color:#ffffff;

}

.cont-ul {
    display: flex;
    align-items: center;

}

li {
    list-style: none;
    cursor: pointer;
    padding: 1.5vw;
    transition:  all .3s ease 0s;
}

li:hover {
    background-color: #B71C1C ;
}

.develop {
    position: relative;
}

.ul-second {
    display: none;
    position: absolute;
    margin-top: 1.5vw;
}

.ul-second > li {
    width: 190px;
    transform: translateX(-20px);
    border-bottom:solid 1px #fff ;
    text-align: center;
    background-color:  #D32F2F;
    color: #B71C1C;
}

.ul-second > li:hover {
    background-color:#B71C1C ;
}

.develop:hover > .ul-second {
    display: block;
}
.cont-ul a{
   text-decoration:none;
   color: #ffffff;
  text-decoration: none;

}
   
   /*Fin de Estilos para el encabezado*/
#directorio{
   text-align:center;
   font-family:;
   background-color:#424949 ;
   color:#707B7C;
   }

/***********************************************/



.gobierno {
    display: flex;
    max-width: 100vw;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius:20px;
    box-shadow: 5px 8px 12px black;
    /* background: #000; */
    background:#F1C40F;
}

#img {
    width: 450px;
    height: 220px;
    object-fit: cover;
    object-position: center;
    padding: 6px;
    border-radius:15px;
    box-shadow: 5px 8px 12px black;
}
#imgd{
  
    height: 400px;
    object-fit: cover;
    object-position: center;
    padding: 6px;
      border-radius:15px;
      box-shadow: 5px 8px 12px black;
}

img:hover {
    cursor: pointer;
    opacity: 0.7;
    transform: scale(1.05); 
    transform: rotate(-1.2deg) scale(1.05);
    transition: 0.6s ease-out;
    filter: grayscale(0.9);

}
.titulo{
  
   

     font-size: 20px ;
    text-align: center;

    z-index: 1;
    width: 350px;
    height: 80px;
    padding: 20px 20px;
   
    line-height: 1.5;
    background: #fff;
    box-shadow: 1px 5px 25px rgba(0,0,0,0.45);
    border-radius: 20px;
   
    margin: 0 auto;
}
.postura{

    z-index: 1;
    width: 850px;
    height: 720px;
    padding: 20px 20px;
    font-size: 15px;
    line-height: 1.5;
    background: #fff;
    box-shadow: 1px 5px 25px rgba(0,0,0,0.45);
    border-radius: 5px;
    text-align: justify;
    margin: 0 auto;
    font-family: monospace ,sans-serif;
}
/*******************************************/
h1 {
  text-align: center;
}

.carrusel {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.carrusel ul {
  list-style: none;
  margin: 0;
  padding: 0;
  max-width: 1030px;
  /* max-width: 510px; */
  scroll-behavior: smooth;
}

.carrusel-fotos {
  display: flex;
  gap: 10px;
  overflow: auto;
}

.carrusel-fotos img {
  background: black;
  border: 4px solid black;
  width: 300px;
  height: 200px;
  object-fit: contain;
}

.carrusel-menu {
  display: none;
}

@media screen and (min-width: 500px) {
  .carrusel-fotos {
    overflow: hidden;
  }

  .carrusel-fotos img {
    width: 500px;
    height: 400px;
  }
  .carrusel-menu {
    display: block;
  }
  .carrusel-menu img {
    box-sizing: border-box;
    width: 50px;
    height: 40px;
    border: 10px solid black;
  }
  .carrusel-menu img:hover {
    border: none;
  }
}

/********************************************/

