@import url('https://fonts.googleapis.com/css?family=Montserrat|Montserrat+Alternates|Poppins&display=swap');
   *{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: 'Montserrat Alternates', sans-serif;
      text-decoration: none;
    list-style: none;


   }


   body{
      
        background-color: #ffffff;
   
     background-image:url('Background.jpg');
      margin:0px;
     

     
   }
   /********************************************/

   /*Fin de Estilos para el encabezado*/



nav {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #D32F2F ;
    padding-left: 2vw;
    color:#ffffff;

}

.cont-ul {
    display: flex;
    align-items: center;

}

li {
    list-style: none;
    cursor: pointer;
    padding: 1.5vw;
    transition:  all .3s ease 0s;
}

li:hover {
    background-color: #B71C1C ;
}

.develop {
    position: relative;
}

.ul-second {
    display: none;
    position: absolute;
    margin-top: 1.5vw;
}

.ul-second > li {
    width: 190px;
    transform: translateX(-20px);
    border-bottom:solid 1px #fff ;
    text-align: center;
    background-color:  #D32F2F;
    color: #B71C1C;
}

.ul-second > li:hover {
    background-color:#B71C1C ;
}

.develop:hover > .ul-second {
    display: block;
}
.cont-ul a{
   text-decoration:none;
   color: #ffffff;
  text-decoration: none;

}
/******************************************/
.computador{
    z-index: 1;
    width: 700px;
    height: 670px;
    padding: 20px 20px;
    font-size: 15px;
    line-height: 1.5;
    background: #fff;
    box-shadow: 1px 5px 25px rgba(0,0,0,0.45);
    border-radius: 5px;
    text-align: justify;
    margin: 0 auto;
    font-family: monospace ,sans-serif;
}
.ambiente {
    width: 310px;
    border-radius: 5px;
    float: left;
    margin-right: 15px;
}
#titulo{
   font-size: 30px ;
   text-align: center;
}
.definicion{
      font-family: monospace ,sans-serif;
}

/*********************************************/
.corriente{
    z-index: 1;
    width: 700px;
    height: 500px;
    padding: 20px 20px;
    font-size: 15px;
    line-height: 1.5;
    background: #fff;
    box-shadow: 1px 5px 25px rgba(0,0,0,0.45);
    border-radius: 5px;
    text-align: justify;
    margin: 0 auto;
    font-family: monospace ,sans-serif;
}
.ambiente {
    width: 310px;
    border-radius: 5px;
    float: left;
    margin-right: 15px;
}
.titulo{
   font-size: 70px ;
   text-align: center; 
    width: 600px;
    height: 70px;
    padding: 20px 20px;
    font-size: 15px;
    line-height: 1.5;
    background: #fff;
    box-shadow: 1px 5px 25px rgba(0,0,0,0.45);
    border-radius: 20px; 
    margin: 0 auto;
    font-family: /*monospace ,sans-serif;*/
}
/************************************/
.uso{
    z-index: 1;
    width: 700px;
    height: 360px;
    padding: 20px 20px;
    font-size: 15px;
    line-height: 1.5;
    background: #fff;
    box-shadow: 1px 5px 25px rgba(0,0,0,0.45);
    border-radius: 5px;
    text-align: justify;
    margin: 0 auto;
    font-family: monospace ,sans-serif;
}
.ambiente {
    width: 310px;
    border-radius: 5px;
    float: left;
    margin-right: 15px;
}
.titulo2{
   font-size: 25px ;
  
}
/***************************************/
.postura{
    z-index: 1;
    width: 700px;
    height: 540px;
    padding: 20px 20px;
    font-size: 15px;
    line-height: 1.5;
    background: #fff;
    box-shadow: 1px 5px 25px rgba(0,0,0,0.45);
    border-radius: 5px;
    text-align: justify;
    margin: 0 auto;
    font-family: monospace ,sans-serif;
}
.ambiente {
    width: 310px;
    border-radius: 5px;
    float: left;
    margin-right: 15px;
}
.titulo3{
   font-size: 25px ;
   
  
}
/*****************************************/

 #directorio{
   text-align:center;
   font-family:;
   background-color:#424949 ;
   color:#707B7C;
   }